*{
  margin:0;padding:0;
}
.header{
  width:100%;
  height:100px;
  background:black;
  color:white;
}
.header_content{
  width:960px;
  margin:0 auto;
  position:relative;
}
.header_content_logo{
  font-size:30px;
  float:left;
  margin-top:25px;
}
ul{
  list-style-type:none;
}
li{
  display:inline-block;
}
.header_content_link{
  float:right;
}
a{color:white}
/*banner */
.banner{
  background:lightgreen;
  height:300px;
  width:100%;
}
.banner-content{
  width:960px;
  height:100%;
  margin:0 auto;
  position:relative;
}
.banner-content ul{
  position:absolute;
  right:0;
  bottom:5px;
}
.banner-content ul li{
  width:20px;
  height:30px;
  line-height:30px;
  border:1px solid white;
  background:#ccc;
  text-algin:center;
  font-size:13px;
}
 .li_normal{
  opacity:0.6px;
}
.li_active{
  padding-top:15px;
  background:white;
}
.li_normal:hover{
  background:white;
  padding-top:15px;
}
.content{
  background:white;
  
}
.nav{
  border-bottom:1px solid #ccc;
  height:60px;
}
.nav-content{
  width:960px;
  margin:0 auto;
  height:100%;
  position:relative;
}
.nav-list{
  position:absolute;
  bottom:0
}
.nav-list li{
  border:1px solid #ccc;
  width:70px;
  height:30px;
  text-align:center;
  line-height:40px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  background:#ccc;
}
.n1{
  background:white;
}
.nav-list a{
  text-decoration:none;
  color:black;
}
.nav_list a:hover{
  background-color: white;
}
.section{
  width:960px;
  margin:0 auto;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
}
.sectionItem{
  border:1px solid #ccc;
  padding:80px;
  width:100%;
  margin:10px;
}
.section .sectionItem:last-child{
  margin-right:0px;
}
.footer {
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color: #535353;
}

.footer-content {
	color: #ccc;
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
	font-size: 8px;
}
.section .sectionItem:first-child{
  margin-left:0px;
}
